<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" #modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{data?.title}}</h5>
      </div>
      <div class="modal-body">
        
        @if(data?.componentRef)
        {
          <ng-container [ngComponentOutlet]="data?.componentRef"></ng-container>
        }
        @else {
          {{data?.content}}
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close(false)" >No</button>
        <button type="button" class="btn btn-primary" (click)="close(true)">Yes</button>
      </div>
    </div>
  </div>
</div>